/* Styles go here */

canvas {
  border: 5px solid black;
  margin-left: 15vw;
  margin-top: 3vh;
  min-width: 600px;
  min-height: 400px;
  width: 70vw;
  height: 90vh;
  background-color:  #08f8ff;
  background-color: rgba(40,200,255,.3);
  z-index: 10;
}
        
body {
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}
